.tablist {
    width: 100%;
    display: flex;
    overflow-x: auto;
    padding-bottom: 5px;
    scrollbar-color: var(--raid_white) transparent;
    scrollbar-width: thin;
}

.tab {
    display: flex;
    font-size: 1.2rem;
    color: inherit;
    font-family: inherit;
    border-bottom: 2px solid var(--raid_list_background);
    padding: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
    appearance: none;
    margin: 0;
}

.tab:hover {
    border-bottom-color: var(--raid_white);
}

.tab::after {
    content: attr(aria-label);
    display: block;
}

.tab:checked {
    border-bottom-color: var(--raid_red);
}

.tablist[data-inline='true'] {
    width: auto;
}

.tablist[data-inline='true'] .tab {
    border-bottom: none;
    width: auto;
    color: var(--raid_grey);
    padding: 0 20px;
    margin: 10px 0;
    font-size: 1rem;
}

.tablist[data-inline='true'] .tab:not(:last-child) {
    border-right: 1px solid var(--raid_grey);
}

.tablist[data-inline='true'] .tab:checked {
    color: var(--raid_white);
}

.tablist[data-inline='true'] .tab:hover {
    color: var(--raid_white);
}
