.container {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    scroll-snap-type: x proximity;
    padding-bottom: 10px;
    gap: 1rem 1ch;
    padding-right: 10px;
}
