.banner {
    border-left: 10px solid var(--raid_white);
    border-right: 10px solid var(--raid_white);
    background-color: var(--raid_light_red);
    width: 11ch;
    padding: 5px 5px 15px 5px;
    display: flex;
    flex: none;
    align-items: center;
    font-size: 1rem;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 95%, 0% 100%);
    flex-direction: column;
    gap: 0.5em;
    text-align: center;
}

.banner img {
    width: 100%;
}

.banner p {
    margin-top: 0;
    margin-bottom: 0;
}

.banner b {
    font-size: 1.2em;
}
