.pictureContainer {
    text-align: center;
}

.container {
    display: flex;
    gap: 3ch;
}

@media screen and (max-width: 700px) {
    .container {
        flex-direction: column;
    }
}

.sidenote {
    font-size: 1.2rem;
}

.level {
    font-size: 1.5rem;
}

.info {
    width: 100%;
}

.basics {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}

.basicsCard {
    width: 12ch;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.2rem;
    text-align: center;
}

.wide {
    width: 100%;
}

.basicsCard b {
    font-size: 3rem;
    color: var(--raid_red);
}
