.table th:not(:nth-child(1)),
.table td:not(:nth-child(1)) {
    width: 10ch;
}

.table td {
    text-align: center;
}

@media (max-width: 770px) {
    .table th:nth-child(4),
    .table td:nth-child(4) {
        display: none;
    }
}

@media (max-width: 640px) {
    .table th:nth-child(6),
    .table td:nth-child(6) {
        display: none;
    }
}

@media (max-width: 560px) {
    .table th:nth-child(3),
    .table td:nth-child(3) {
        display: none;
    }
}

@media (max-width: 450px) {
    .table th:nth-child(7),
    .table td:nth-child(7) {
        display: none;
    }
}
