.profilePicture {
    width: 36ch;
    margin-right: 2ch;
}

.container {
    display: flex;
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }
}

.sidenote {
    font-size: 1.2rem;
}

.level {
    font-size: 1.5rem;
}

.info {
    width: 100%;
}
