.raidInput {
    background-color: var(--raid_list_background);
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 1rem;
    color: var(--raid_white);
    width: 100%;
}

.label {
    width: 50ch;
    max-width: 100%;
    display: inline-block;
}
