.table {
    width: 100%;
    border-spacing: 0 3px;
}

.table th,
.table td {
    padding: 5px;
}

.table td {
    text-align: center;
}

.table tr:nth-child(even) {
    background-color: var(--raid_list_background);
}

.table thead {
    color: var(--raid_red);
}

.table thead th {
    padding: 10px;
}

.controls {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
