.achievementTooltip {
    max-width: 200px;
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 64px);
    padding: 0;
    gap: 5px;
    justify-content: space-between;
}

.list li::marker {
    content: '';
}
.list li img {
    width: 64px;
    height: 64px;
}
