.paper {
    background-image: url('/static/images/raid/paper.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    aspect-ratio: 1 / 1.4;
    max-width: 48rem;
    width: 100%;

    padding: 1.5rem;

    font-family: 'IM Fell DW Pica', serif;
    color: var(--raid_black);
}

.paper * {
    margin: 0;
}

.paper h1 {
    color: var(--raid_red);
    font-size: 3rem;
}

.paper h2 {
    color: var(--raid_red);
    font-size: 2rem;
}

.paper a {
    color: var(--raid_red);
}

.lastUpdated {
    text-align: right;
    margin: 0;
}

.handWritten {
    font-family: 'Caveat', cursive;
    font-size: 1.5rem;
}
