.weaponCard {
    height: 10em;
    overflow: hidden;
    position: relative;
}

.description {
    min-height: 4em;
    position: absolute;
    bottom: 0;
}

.weaponCard img {
    max-height: 6em;
    max-width: 100%;
}
