@font-face {
    font-family: 'Lato';
    src: url('/static/fonts/lato/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

:root {
    --raid_red: #de4a3e;
    --raid_dark_red: #c04236;
    --raid_brown_red: #802b24;
    --raid_light_red: #b8392e;
    --raid_white: #d7d7d7;
    --raid_dirty_white: #d3d3d3;
    --raid_grey: #9e9e9e;
    --raid_dark_grey: #565656;
    --raid_black: #0f0f0f;
    --raid_gold: #c78e38;
    --raid_light_gold: #d8b883;
    --raid_list_background: rgba(215, 215, 215, 0.1);
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-image: url('/static/images/raid/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: var(--raid_white);
    font-family: 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
p {
    margin: 0.5rem;
}

h1 {
    color: var(--raid_red);
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

a {
    color: var(--raid_red);
}

main {
    width: 100%;
    max-width: 80ch;
    margin-left: auto;
    margin-right: auto;
}
