.container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 280px;
    gap: 1ch;
}

.cardsList {
    display: grid;
    grid-template-columns: repeat(auto-fill, 125px);
    margin: 0;
    padding: 0;
    max-height: 600px;
    overflow-y: auto;
    justify-content: space-evenly;
}

.cardsList li {
    display: flex;
    justify-content: center;
    padding: 10px;
    position: relative;
}

.cardsList li[aria-current='true']:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: var(--raid_red);
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
}

.cardsList li[aria-current='true']:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: var(--raid_red);
    clip-path: polygon(100% 100%, 100% 0%, 0% 100%);
}

.cardsList li:hover {
    background-color: var(--raid_list_background);
}

.cardsList li::marker {
    content: '';
}

.cardDetails {
    display: flex;
    gap: 10px;
    flex-direction: column;
    max-width: 100%;
}

.cardDetails label {
}

.cardsListContainer {
    width: 100%;
}

@media (max-width: 690px) {
    .cardDetails {
        flex-direction: column-reverse;
        align-items: center;
        order: -1;
    }

    .cardContainer {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .container {
        grid-template-columns: 100%;
    }

    .cardsList {
        max-height: 300px;
        order: 1;
    }
}

@media (max-width: 500px) {
    .cardContainer {
        flex-direction: column;
    }
}
