.animatedBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    min-height: 100lvh;
    z-index: -999999;
    object-fit: cover;
}

@media (prefers-reduced-motion) {
    .animatedBackground {
        display: none;
    }
}
