.achievementTooltip {
    max-width: 200px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 5px;
    justify-content: space-between;
}

.list li::after {
    content: '';
    flex: auto;
}

.list li::marker {
    content: '';
}
