.weaponImage {
    max-width: 100%;
    width: 270px;
    height: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weaponImage img {
    max-width: 100%;
    max-height: 100%;
}
